.add-review {
    border: black solid 2px;
    font-size: 1.6em;
    margin-block: 20px;
    background-color: rgb(120 156 168);
    border-radius: 10px;
}

td {
    border-bottom: black solid 1px;
    padding-block: 10px;
}

.title {
    text-align: center;
    width: 99%;
    background-color: #fcd63fd7
}

.review-btn {
    text-align: center;
}

input {
    padding-block: 10px;
}