.book-edit {
    display: flex;
    flex-direction: column;
}

.book-edit h2 {
    align-self: center;
    font-size: 2em;
}

.book-edit-form {
    display: flex;
    flex-direction: column;
}

.book-edit-form input {
    min-width: 250px;
    height: 2.4em;
    border-radius: 15px;
}

.book-edit-form label {
    font-size: 1.3em;
    margin-block: 10px;
}


.form-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

img {
    max-width: 300px;
    height: 100%;
    justify-self: center;
    align-self: center;
}


.book-edit-form button {
    font-size: 1em;
}

.cancel {
    background-color: rgb(235, 166, 166);
}