.user-msg {
    background-color: lightgray;
    padding: .5em 1em;
    position: fixed;
    top: 5%;
    right: 1em;
    color: white;
    font-weight: bold;
    border-radius: 15px;
}

.user-msg.success {
    background-color: rgb(64, 213, 64);
}

.user-msg.error {
    background-color: rgb(221, 82, 82);
}


.user-msg button {
    font-size: 0.8em;
}